header {
  display: flex;
  height: 520px;
  padding-top: 120px;
  flex-direction: column;
  align-content: flex-end;
  background-color: #4056A1;
  background-image: url("https://www.transparenttextures.com/patterns/cream-paper.png");
}

div.avatar {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

div.yourName {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}