#tweet-text {
  border-bottom-color: grey;
  border-bottom-width: 5px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  width: 700px;
}

.tweetbutton {
  display: flex;
  justify-content: space-between;
  font-family: 'Bungee', cursive;
  border: 2px solid blue;
  padding: 10px 0px;
}

button {
  background-color: #4056A1;
  color: white;
  padding: 5px 10px;
}

.counter {
  padding: 5px 10px;
  color: grey;
}

.redcounter {
  color: red;
}

textarea {
  font-weight: bold;
  color: grey;
}